
canvas {
    display: block;
    background: transparent;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.sign-here {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #c7c7c7;
    font-weight: bold;
    z-index: 1;
    font-size: xx-large;
}

body {
    text-align: center;
}

.is-primary {
    background-color: #FFC107 !important;
    font-weight: bold;
}

.icon {
    height: 80px;
    width: 80px;
    float: right;
}

#main {
    padding: 10px;
    min-height: 88vh;
}

.link {
    color: #3498db;
    transition: color .3s;
}

.link:hover {
    color: #247fbc;
}

.erase {
    color: #2c3e50;
}